
<div class="min-h-screen dark:bg-charcoal dark:text-white text-black transition duration-300">
  <nav class="fixed top-0 left-0 w-full z-50 bg-redwine text-white shadow px-6 py-3 flex justify-between items-center">
    <h1 class="text-xl font-bold">🗞️ QuickNews</h1>
    <div class="space-x-4 mb-10">
      <a routerLink="/" class="hover:underline">Home</a>
      <a routerLink="/weekly-news" class="hover:underline">Weekly News</a>
      <a routerLink="/whats-new" class="hover:underline">What's New</a>
      <a routerLink="/news" class="hover:underline">Top News</a>
      <!-- <button (click)="toggleTheme()" class="ml-4 bg-mint text-black px-2 py-1 rounded">Toggle Theme</button> -->
    </div>
  </nav>

  <main class="pt-20 p-4">
    <router-outlet></router-outlet>
  </main>

  <footer class="text-center mt-10 text-sm py-6 text-gray-400">
    &copy; 2025 QuickNews. All rights reserved.
  </footer>
</div>
