<style>
    div {
        font-family: 'Times New Roman';
    }
</style>

<div>
    <h1>Testing the old normal: Paris hosts indoor rock concert - with masks and virus tests</h1>

    <img src="https://img.etimg.com/thumb/msid-83107325,width-650,imgsize-630437,,resizemode-4,quality-100/untitled-10.jpg"
        alt="concert">
    <p>PARIS: French rock band Indochine performed at a concert venue in central Paris on Saturday before a crowd of
        5,000 fans in a welcomed return to pre-pandemic life, with the exception of masks and mandatory tests.

        The show at the Bercy arena was part of an experiment launched by the Paris hospital authority aimed at
        assessing how concerts will be able to resume as France gradually ends restrictions imposed by the coronavirus
        crisis.

        Cafes and restaurants resumed serving customer

</div>
<hr>

<div>
    <h1>Puri beach to become Asia's first with Blue Flag certification</h1>

    <img src="https://english.cdn.zeenews.com/sites/default/files/2019/06/06/793528-puri-12.jpg" alt="puri beach">
    <p>
        The Puri beach in the state of Odisha will be the first beach in Asia to get the Blue Flag certification.

        The tag is given to environment-friendly and clean beaches which are equipped with amenities of international
        standards for tourists.

        Federation of Environment Education (FEE), a Denmark-based organization, selected Puri beach for the coveted
        Blue Flag certification.

        According to the Ministry of Forest and Environment, besides Puri, a total of 13 beaches in India will now have
        environment-friendly resources to transform them and bring them to international standards. All these beaches
        will also get the Blue Flag certification.

        The Society for Integrated Coastal Management (SICOM), an initiative by the Ministry of Environment, Forest and
        Climate Change, is spearheading the development of India's beaches, under this programme.

        A beach needs to comply with at least 33 pre-requisites to achieve the Blue Flag certificate. This includes
        quality of sea water, toilet, changing rooms, first aid centres, solar lighting and parking lots. While the
        central government will be investing Rs 10 crore for the project, SICOM will fund it with Rs 2 crore.
    </p>
</div>
<hr>

<div>
    <h1>Surf therapy: a growing movement to address mental health</h1>

    <img src="https://www.surfertoday.com/images/stories/surf-therapy-girl.jpg" alt="Surfing">

    <p>Over the past ten years, this type of therapy has become an established form of therapeutic support for mental
        and physical health worldwide.

        In the United Kingdom, it is recognized by the National Health Service (NHS) as an effective form of therapy for
        children and young people at risk of mental illness.

        Surf therapy has also been used to support veterans in the United States, stroke victims in the Netherlands,
        deprived communities in South Africa, and adults with psychological conditions in Australia and South America.

        In 2021, it's safe to say that surf therapy has become a truly global movement.
    </p>


    <h5>Mounting Research Shows Evidence-Based Health Benefits</h5>
    <p>
        While it's easy to find people who are able to talk about the transformational impact surf therapy has had on
        their
        lives, these positive effects are increasingly backed up by research.

        Several studies now show the beneficial, tangible impact of surf therapy on mental and emotional health.

        For example, independent research commissioned by The Wave Project - the surf therapy charity I founded for
        children
        and young people based in the UK - revealed a statistically significant change to the well-being of participants
        after our intervention.

        A peer-review by the journal Community Practitioner, published in January 2015, found that The Wave Project
        intervention resulted in a significant and sustained increase in health and happiness levels and behavior
        change.

        Seventy-nine percent of parents reported a more positive attitude, and sixty-two percent revealed better
        communication skills in their children.

        Fifty-six percent thought they showed a healthier lifestyle after participation, and 46 percent knew of progress
        in
        education since the course.

        The conclusions from this analysis were clear.

        When delivered in a supportive environment, with opportunities for continuation and volunteering, surfing
        provides
        profound and long-term benefits to the well-being of children facing social and emotional isolation.
    </p>

</div>
<hr>

<div>

    <h1>2021 Burr Oak GNCC Results</h1>

    <img src="https://www.cyclenews.com/wp-content/uploads/2021/09/2021-Burr-Oak-GNCC-Results-Jordan-Ashburn.jpg"
        alt="Dirt Bike">

    <p>The 2021 GNCC championship chase just got about as tight as it could get after AmPro Yamaha’s Steward Baylor
        grabbed his seventh win of the season at this weekend’s Burr Oak GNCC.

        Baylor came into the Ohio round sitting four points behind FMF/KTM’s Ben Kelley in the series standings, but
        with the win the South Carolina rider moved into the series points lead for the first time this year and now
        sits a single point ahead of Kelley in the standings</p>

    <p>
        Throughout the day, three riders—Baylor, Kelley and Magna1 Motorsports/Husqvarna’s Jordan Ashburn—all looked
        capable of winning the Burr Oak race. Ashburn grabbed the holeshot and led off and on for nearly half the race.

        Heading into the fifth and final lap, Kelley looked as though he had the victory in hand, a victory he very much
        needed to hold off Baylor going into the final two rounds of the series.
    </p>
    <p>
        BABS Racing Yamaha/Fly/Maxxis/Pro Circuit’s Becca Sheets took a big win in the XCW class, beating AmPro Yamaha’s
        Rachael Archer by nearly a minute and a half. “I think I was fourth going in the woods after the start,” said
        Sheets. “Kenzie [Tricker] was in front, and Rachel Gutish took a tumble in some slick stuff right at the
        beginning. I made the pass and then quickly got into second place and was right on Rachael Archer for a little
        bit.
    </p>
    <h5>2021 Burr Oak GNCC Overall Results</h5>
    <ol type="1">
        <li>Steward Baylor (Yam)</li>
        <li>Ben Kelley (KTM)</li>
        <li>Jordan Ashburn (Hus)</li>
        <li>Ricky Russell (GG)</li>
        <li>Thad DuVall (Hus)</li>
        <li>Josh Toth (KTM)</li>
        <li>Trevor Bollinger (Hus)</li>
        <li>Josh Strang (Kaw)</li>
        <li>Johnny Girroir (GG)</li>
        <li>Craig DeLong (Hus)</li>
    </ol>
</div>
<hr>