
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth transition for theme switch */
body {
  @apply transition-colors duration-300;
}
html {
  background-color: white;
}
.dark html {
  background-color: #1A1A1A;
  color: white;
}

